body{
  font-size: 13px;
}

/* Blocks at top */
  .no-scroll{
    overflow: hidden;
  }
  .div-block-2 {
    width: 100%;
    height: 3px;
    background-color: #000;
  }

  .div-block-3 {
    height: 3px;
  }

  .div-block-4 {
    width: 14.285%;
    height: 3px;
    float: left;
    background-color: #1abc9c;
  }

  .div-block-5 {
    width: 14.285%;
    height: 3px;
    float: left;
    background-color: #f2ca27;
  }

  .div-block-6 {
    width: 14.285%;
    height: 3px;
    float: left;
    background-color: #e67e22;
  }

  .div-block-7 {
    width: 14.285%;
    height: 3px;
    float: left;
    background-color: #16a085;
  }

  .div-block-8 {
    width: 14.285%;
    height: 3px;
    float: left;
    background-color: #2980b9;
  }

  .div-block-9 {
    width: 14.285%;
    height: 3px;
    float: left;
    background-color: #e74c3c;
  }

  .div-block-10 {
    width: 14.285%;
    height: 3px;
    float: left;
    background-color: #1abc9c;
  }
/* Blocks at top */

/* navigation */
 
  .homepage .nav-brand{
    margin: auto;
    text-align: center;
    display: block;
  }

  .nav-brand{
    display:inline-block;
    vertical-align:top;
    margin-left:14px;
  }
  .homepage .nav-brand{
    margin-left:0;
  }

  .nav-brand img{
    width:90px;
  }

  .homepage .logotype{
    display: block;
    text-align: center;
    float: none;
  }

  .logotype{
    display:inline-block;
    vertical-align:top;
  }

  .logotype h1{
    font-size:31px;
  }

  .logotype h2{
    margin-top: -12px;
    margin-bottom: 0px;
    font-size:22px;
    letter-spacing: 1.7px;
  }
  .search-form-container {
    float:right;
    display: inline-block;
    margin: 14px auto 30px;
    vertical-align: top;
    margin-right:3%;

  }
  .homepage .search-form-container{
    display: block;
    float: none;
    margin: 14px auto 30px;
  }
  .navigation-bar{
    width:100%;
    float: left;
    padding-top: 25px;
    padding-bottom: 0;
    background:#fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06);
  }
  .homepage .navigation-bar{
    padding-bottom:25px;
  }
  .homepage .navigation-bar{
    background:#fff
  }
 
  .submit-button {
      width: 50px;
      height: 40px;
      background-color: #1abc9c;
  }
/* navigation */

/* Search input */
  .calendar{
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
  }
    input{
      display: block;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }
    .text-field-2 {
        width:87%;
        height: 40px;
        float: left;
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #b3b0b0;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #b3b0b0;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #b3b0b0;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #b3b0b0;
    }
/* Search input */

/* Search input */
  .the-result{
    position: absolute;
    z-index: 7;
    background: #fff;
    padding: 7px;
    top: 40px;
    border: 1px solid #ccc;
  }
  .the-result .left{
    width:43%;
  }
  .the-result h2{
    text-decoration: underline;
    margin-top: 14px;
  }
  .the-result a:hover,
  .the-result a:active,
  .the-result a:focus{
    color:#000;
    text-decoration: underline;
  }
  .the-result .right{
    display: none;
    width: 54%;
    border-left: 1px solid #ccc;
    padding-left: 14px;
    margin-top: -54px;
    overflow: scroll;
    height: 484px;
    overflow-x: hidden;
  }

/* Search input */

/* Warning bell */
    .bell{
      position:absolute;
      right:21px;
      top:-103px;
    }
    .homepage .bell{
      right: 0;
      top: 85%;
    }
    .document-warning{
      margin-bottom: 10px;
      font-size: 12px;
      margin-top: 12px;
    }
/* Warning bell */

/* Section */
    .section{
        padding-top: 30px;
        padding-bottom: 50px;
        background-color: #e0ddd7;
        color: #1abc9c;
        width:100%;
        float: left;
    }
    .left{
        float: left;
    }

    .right{
        float:right;
    }

    .left.col-3{
      font-family: Montserrat, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #869aa7;
      font-size: 13px;
      padding-left:0;
    }

    .homepage .left.col-9{
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding:0;
    }
    .homepage .right.col-3{
      display: none;
    }
    .right.col-3{
      display: block;
    }

    .small-heading {
      margin-top: 0px;
      margin-bottom: 2px;
      font-family: Montserrat, sans-serif;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      font-size: 14px;
      line-height: 135%;
      text-align: left;
  }
/* Section */


.w-button,
.more-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #483332;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.more-button {
    background-color:#fff;
    float: right;
}
.more-button img{
  margin:0!important;
}

/* left column */
  .white-wrapper {
      padding: 20px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
  }
  .grey-rule {
      width: 100%;
      height: 1px;
      margin-top: 15px;
      margin-bottom: 15px;
      float: left;
      background-color: #c7c7c7;
  }
  .cc-law-libray{
    margin-bottom: 0px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #aaa;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .left.col-3 a:hover,
  .left.col-3 a:focus{ 
    color: #666!important;
  }
  .click-more{
    cursor: pointer;
  }
/* left column */


/* right column */
  .homepage .feed{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .homepage .feed:first-child{
    width:100%;
  }
  .feed {
    float: left;
    margin-bottom: 0px;
    padding: 14px 21px 0px;
  }
  .feed p{
    margin-top: 10px;
  }
  .feed img{
    float: left;
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-right: 2%;
    margin-top: 10px
  }
  .feed .text-block a:hover{
    color: #3898EC;
    text-decoration: underline;
  }
  .right.col-3 a:hover,
  .right.col-3 a:focus{
    color: #a9a9a9
  }

  /* tabs */
    .tab-menu {
        position: relative;
        height:37px;
        margin:0;
        padding:0;
        list-style:none;
    }
    .d-tabs .tab-menu li{
      width:25%;
      float:left;
    }
    .homepage .tab-menu li{
      float:left;
      width: 33.3%;
      text-align: center;
    }
    .current-tab {
        background-color: #24a7ff
    }
    .d-tabs{
      margin-top: 8px;
    }
    .tab{
      font-family: Montserrat, sans-serif;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      font-size: 13px;
      position: relative;
      vertical-align: top;
      text-decoration: none;
      padding: 9px 30px;
      text-align: left;
      cursor: pointer;
      color: #222222;
      border-right: 1px solid #2abeb8;
      background-color:#cabcbb;
      width:100%;
      display:block;
      text-align:center;
    }
    .tab:hover,
    .tab.active {
        background-color:#A9A9A9;
        color:#fff!important;
        text-decoration:none!important;
    }
    .search-result .tab-menu{
      border-bottom: 1px solid #24a7ff;
      margin-top: 21px;
    }
  /* tabs */

  .heading-2 {
      margin-top: 0px;
      margin-bottom: 3px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      color: #74737a;
  }
  .text-block {
      font-family: Montserrat, sans-serif;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      color: #74737a;
      font-size: 10px;
      text-transform: uppercase;
  }
  .paragraph {
      margin-top: 7px;
      padding-right: 0px;
      padding-left: 0px;
      font-family: Montserrat, sans-serif;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      color: #74737a;
      font-size: 13px;
  }

  .feed .grey-rule{
    margin-bottom:8px;
  }

  .button-2 {
      margin-top: -14px;
      float: right;
  }
  
  .button-wrapper {
      padding-bottom: 18px;
      padding-left: 21px;
  }
  .button {
      display: inline-block;
      margin-top: 4px;
      padding: 11px 20px;
      border-radius: 3px;
      background-color:#483332;
      -webkit-transition: background-color 200ms ease;
      transition: background-color 200ms ease;
      color: #fff;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-decoration: none;
  }

  .tab-pane {
      background-color: #fff;
  }
  .search-result{
    float: left;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(51, 51, 51, .67);
  }
  .search-result h1{
    margin-bottom: 7px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #74737a;
        font-size: 35px;
  }
  .search-result h1 span{
    color: #434246;
    font-size: 33px;
    font-style: italic;
  }
  .search-result .text-block{
    font-size:12px;
  }
  .search-result a:hover{
    color:#3898EC;
    text-decoration: underline;
  }
  .search-result .more{
    color:#1abc9c
  }
  .search-result .more:hover{
    color:#1abc9c;
    text-decoration: underline;
  }
  .grey-rule.last{
    margin-bottom: 22px;
  }
  .paginations {
    text-align: center;
    padding: 20px 0;
  }
  .paginations a{
    padding:7px;
  }
  .feed .paginations{
    text-align: right;
    padding: 7px 0;
  }
   .feed .paginations a{
    padding: 7px 3px;
  }
  .document-download{
    font-size: 12px;
    float: left;
    width: 100%;
    border-bottom: 1px dotted #000;
    padding-bottom: 3px;
    margin-bottom: 10px;
  }
  .document-download ul{
    margin:0;
  }
  .part-of{
    margin-bottom: 10px;
    font-size: 12px;
  }
  .document-download li{
    display:inline-block;
    width:19%;
    vertical-align: top;
  }

  /* clud tabs */
    .text-span-14 {
      font-size: 12px;
    }
    .text-span-13 {
      font-size: 16px;
    }
    .text-span-27 {
      font-size: 9px;
    }
    .text-span-15 {
      font-size: 13px;
    }
    .text-span-28 {
      font-size: 9px;
    }
    .text-span-20 {
      font-size: 13px;
    }
    .text-span-21 {
      font-size: 14px;
    }
    .text-span-30 {
      font-size: 7px;
    }
    .text-span-22 {
      font-size: 14px;
    }
    .text-span-12 {
      font-size: 16px;
    }
    .text-span-23 {
      font-size: 15px;
    }
    .text-span-29 {
      font-size: 9px;
    }
    .text-span-16 {
      font-size: 16px;
    }
    .text-span-17 {
      font-size: 14px;
    } 
    .text-span-19 {
      font-size: 14px;
    }
    .text-span-18 {
      font-size: 13px;
    }
  /* clud tabs */

  /* Timeline */
    .timeline ul{
      border-bottom: 1px solid #ccc;
    }
    .timeline ul li{
      display: inline-block;
      width: 24%;
      text-align: center;
      margin-top:21px;
      position: relative;
    }
    .timeline ul li a{
      display: block;
      border: 1px solid #ccc;
      padding: 8% 0;
      width: 81%;
      margin: auto;
    }
    .timeline ul li a:hover,
    .timeline ul li a:focus{
      color: #000
    }
    .timeline ul li span{
      display: block;
      margin-top: 28px;
    }
    .timeline ul li span::after{
      content: '*';
      display: block;
      position: absolute;
      top: 94%;
      left: 49%;
    }
    .timeline hr {
      transform: rotate(90deg);
      width: 46px;
      margin-top: 23px;
      margin-bottom: -6px;
  }
  /* Timeline */

  .metadata li{
    margin: 7px 0;
  }

  /* icons */
  .document-warning::before{
    background: url(../images/key-outline.png) no-repeat;
    content: 'key';
    width: 16px;
    height: 20px;
    font-size: 0px;
    display: inline-block;
    background-size: 100%;
    vertical-align: top;
  }
  .document-download .col-3.left a::before{
    background: url(../images/chevron-left.png) no-repeat;
    content: 'back';
    width: 16px;
    height: 20px;
    font-size: 0px;
    display: inline-block;
    background-size: 100%;
    vertical-align: top;
  }
  .document-download .col-9.right{
    padding:0;
  }

  .document-download .col-9.right ul li a::before{
    content: 'txt';
    width: 16px;
    height: 20px;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
    margin-right:5px;
  }

  .document-download .col-9.right ul li:first-child a::before{
    background: url(../images/user-add-outline.png) no-repeat;
    background-size: 100%;
  }
  .document-download .col-9.right ul li:nth-child(2) a::before{
    background: url(../images/clipboard.png) no-repeat;
    background-size: 100%;
  }
  .document-download .col-9.right ul li:nth-child(3) a::before{
    background: url(../images/download-outline.png) no-repeat;
    background-size: 100%;
  }
  .document-download .col-9.right ul li:nth-child(4) a::before{
    background: url(../images/download.png) no-repeat;
    background-size: 100%;
  }
  .document-download .col-9.right ul li:nth-child(5) a::before{
    background: url(../images/flow-merge.png) no-repeat;
    background-size: 100%;
  }
  .part-of::before{
    background: url(../images/chevron-right.png) no-repeat;
    background-size: 100%;
    content: 'partof';
    width: 16px;
    height: 20px;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
  }
  .paginations::before{
    background: url(../images/printer.png) no-repeat;
    background-size: 100%;
    content: 'partof';
    width: 16px;
    height: 20px;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
  .the-result .right h4::after{
    background: url(../images/key-outline.png) no-repeat;
    background-size: 100%;
    content: 'key';
    width: 16px;
    height: 20px;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 7px;
    top: 7px;
  }
  .the-result .right h4{
    position: relative;
  }
  /* icons */

/* right column */


/* footer */
  footer {
    padding-top: 21px;
    background-color: #3f474d;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #dddada;
    font-size: 14px;
    float: left;
    width:100%;
  }

  footer .footer{
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #171b1d;
  }

  footer a {
    color: #dddada;
    font-size: 13px;
  }

  .form-done,
  .form-fail,
  .see-more{
    display:none
  }
  .newsletter-form{
    width:92.4%;
    height: 40px;
    display: inline;
  }
  .submit-newsletter{
    height: 40px;
    float: right;
    background: #3898ec;
    border: none;
    color: #fff;
  }
  .social-icons{
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #171b1d;
    text-align: center;
  }

  .social-icons h5{
    margin-top: 14px;
    margin-bottom: 0px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #7e7979;
    font-size: 12px;
    text-align: center;
    letter-spacing: 12px;
  }
  .social-icon-link {
    display: inline-block;
    width: 20px;
    margin-right: 12px;
    opacity: 0.36;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
  .social-icon-link:hover {
    opacity: 0.9;
  }
  .social-icon-link img{
    width:20px;
  }
  footer p{
    margin-bottom: 11px;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #dddada;
    font-size: 14px;
  }
/* footer */
.mobile-button{
  display: none;
}

@media all and (max-width:1348px){
  .newsletter-form {
    width: 89.1%;
  }
}

@media all and (max-width:1210px){
  .document-download .col-9.right ul li a::before{
    display: block;
    margin:auto;
  }
  .document-download li {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    font-size: 11px;
    text-align: center;
  }

}

@media all and (max-width:994px){
  .bell{
    margin-left:2px;
  }
  .left.col-3{
    display:block;
  }
  .nav-brand{
    margin:0 auto;
    display: block;
    text-align: center;
  }
  .logotype{
    display: block;
    text-align: center;
  }
  .col-6{
    -webkit-box-flex: 0; 
    -webkit-flex: 0 0 100%; 
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .search-form .div-block.w-clearfix{
    width:70%;
    margin: 1% auto 0
  }

}
@media all and (max-width:768px){
  .row{
    width: 100%;
  }
  .container {
    width: 100%;
    max-width: 100%;
  }
  .right.col-3{
    display:block;
  }
}

@media all and (max-width: 715px){
  .homepage .feed{
    width:100%;
  }

  .homepage .section .container{
    padding-right: 15px;
    padding-left: 15px;
  }

  .section .container{
    padding: 0
  }
  
  .search-result{
    border:none;
    box-shadow: none;
    border-radius: 0;
  }
  .mobile-button{
    display: block;
    position: absolute;
    top: 0
  }
  .homepage .search-form-container {
    display: inline-block;
  }
  .d-tabs .tab-menu li{
    width: 100%;
  }
  .navigation-bar{
  }
  .section{
    padding-top:0;
  }
  .navigation-bar .container{
    height: auto
  }
  .nav-brand,
  .logotype{
    float: none;
    text-align: center;
    margin:0;
  }
  .nav-brand img{
    display: block;
    margin:0 auto;
  }
  .search-form-container,
  .left.col-9,
  .right.col-3{
    float:none;
    width: 100%!important;
    max-width: 100%!important;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%!important;
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    padding: 0;
  }
   
  .row{
    margin:0;
  }
  .search-form-container{
    margin-top:21px;
    padding:0;
  }
  .search-form .w-button{
    padding:1%;
    width:10%;
  }
   
  .text-field-2{
    width:90%;
  }
  .right.col-3{
    display:none;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
    position: fixed;
    top: 74px;
    z-index: 7;
    right: 0px;
    overflow-y: scroll;
    height: 86%;
  }
  .d-tabs{
    margin:0;
  }
  .tab{
    display: block;
    border-bottom: 1px solid #2abeb8;
    border-right: none;
  }
  .tab-menu{
    height: auto;
  }
  .tab-menu li {
    float: none;
    width: 100%;
  }
  .homepage .tab-menu li{
    width: 100%;
  }
  .button{
    width: 94%;
  }
  .search-form .div-block.w-clearfix{
    width:100%;
    margin:0;
    padding:0;
  }
  .tab-pane .feed.clearfix {
    padding: 0;
  }
  .bell {
    margin-left: 14px;
  }
  footer .col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%!important;
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
  footer p {
    text-align: center;
    font-size: 16px;
  }
 
  .newsletter-form {
    width: 91%;
  }
  .submit-newsletter{
     width: 9%;
  }
  .timeline ul li a{
    width:100%;
  }
  .homepage .mobile-button{
    display: none;
  }
  .bell{
    top:-219px;
  }
  .document-download .col-9.right ul li a::before{
    display: block;
    margin:auto;
  }
  .document-download li {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
  }
}

@media all and (max-width:430px){
  .document-download  .left.col-3{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
     max-width: 60%;
  }
  .document-download .col-9.right{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .document-download li{
    width:32%;
  }
}















